@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: #bcccd4;
  font-size: 1.8rem;
}

#main {
  margin: auto;
  font-family: "Roboto Mono", sans-serif;
  text-align: center;
}

#header {
  margin: 5px;
  padding: 30px 30px;
}

h1 {
  margin: 10px;
  text-align: center;
  color: #0f548c;
}

h2 {
  margin: 10px;
  font-family: "Roboto Condensed";
  color: #0f548c;
  text-align: center;
}

#img-div {
  padding: 5px;
  margin: 0 100px 0 100px;
  
}

#section {
  margin: 5px;
}

section {
  width: 60%;
  margin: auto;
  padding: auto;
  line-height: 2;
  color: #0f548c;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 30px;
  text-align: left;
}

li::before {
  color: #03256c;
  content: "\2713";
  padding-right: 3px;
}

img {
  display: block;
  max-width: 40%;
  padding: 5px 0 0 0;
  margin: auto;
}

#img-caption {
  margin: 5px;
  padding: 3px;
  font-family: "Roboto Condensed";
  border: 2.5px;
}

#headline {
  margin: 35px 35px;
  color: #0f548c;
}

#div-cite {
  color: beige;
  margin: 5px;
  padding: 30px 30px;
  line-height: 1.5;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #0f548c;
}

#link {
  color: #0f548c;
  padding: 30px 30px;
  margin: 5px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

a:visited {
  color:navy;
}

a:hover {
  color: beige;
}

@media (max-width: 460px){
  #img-div {
    display: none;
  }
}